{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Bar tabac à proximité de chez vous à Forges-les-Eaux (76440), ouvert le dimanche toute la journée{% endtrans %}
{% endblock %}
{% block description %}
	{% trans %} 
        Bar proposant jeux de la Française des jeux (loto et grattage), tabac et accessoires, presse. Paiement de proximité. Boissons à emporter.
    {% endtrans %}
{% endblock %}
{% block kw %}
	{% trans %}bar, tabac, jeux, divertissement, café, boissons, billard, baby-foot, fléchettes, jeux de société, détente, loisirs, soirées, animations, musique, cocktails, bières, alcools{% endtrans %}
{% endblock %}

{% block body %}
	<div class="py-1 py-sm-2 py-lg-1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-3">
					<div class="logo">
						<a href="{{ path('app_home_page') }}">
							<img src="{{ asset('assets/img/logo-noir.png') }}" alt="{% trans %}Bar tabac{% endtrans %}">
						</a>
					</div>
				</div>
				<div class="col-7 col-md-9 text-right">
					<nav class="main-menu menu-sticky1 onepage-nav d-none d-lg-block link-inherit mobile-menu-active">
						<ul>
							<li><a href="{{path('app_home_page')}}">{% trans %}Accueil{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#about">{% trans %}Le bar{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#promo">{% trans %}nos offres{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#avisclt">{% trans %}Temoiniages{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#contact">{% trans %}Contact{% endtrans %}</a></li>
						</ul>
					</nav>
					<button class="vs-menu-toggle text-theme border-theme d-inline-block d-lg-none">
						<i class="far fa-bars"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="vs-menu-wrapper">
		<div class="vs-menu-area">
			<button class="vs-menu-toggle text-theme">
				<i class="fal fa-times"></i>
			</button>
			<div class="mobile-logo">
				<a href="{{ path('app_home_page') }}"><img src="{{ asset('assets/img/logo-blanc.png') }}" alt="{% trans %}Café{% endtrans %}"></a>
			</div>
			<div class="vs-mobile-menu link-inherit"></div>
		</div>
	</div>
	<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit  mb-30" data-vs-img="assets/img/breadcumb/breadcumb-bg-1-1.jpg" data-overlay="black" data-opacity="6">
		<div class="container z-index-common">
			<div class="breadcumb-content text-center pt-65 pt-lg-140 pb-95 pb-lg-175">
				<h1 class="breadcumb-title sec-title1 text-white my-0">Gagnez une Boissons</h1>
				<ul class="breadcumb-menu-style1 bg-white">
					<li>
						<a href="{{ path('app_home_page') }}">
							<i class="fal fa-home text-theme"></i>Accueil</a>
					</li>
					<li class="active">Gagnez une Boissons</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="login-wrapper  py-60 py-lg-150">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 ">
                    <div id="chart"></div>
                    
				</div>
                <div class="col-12 col-lg-6 ">
                    <h2 class="sec-title1 text-font3">Tentez de gagné une <span class="text-theme">Boissons</span></h2>
                    <div id="question"></div>
                </div>
			</div>
		</div>
	</div>
    <div style="clear:both"></div>
    	<div class="background-image" data-vs-img="assets/img/footer/footer-bg-2-1.jpg" data-overlay="black" data-opacity="8">
		<footer class="footer-wrapper footer-layout1 dark-footer ">
			<div class="footer-widget-wrapper border-top footer-widget-layout1 pt-40 pt-lg-195 pt-xl-210 pb-10 pb-lg-70 z-index-common">
				<div class="container ">
					<div class="row">
						<div class="col-lg-6 col-xl-4">
							<div class="widget pt-0">
								<div class="vs-widget-about">
									<div class="widget-about-logo mb-20 mb-lg-25">
										<a href="{{ path('app_home_page') }}">
											<img src="{{ asset('assets/img/logo-blanc.png') }}" alt="logo">
										</a>
									</div>
									<p class="widget-about-text mb-20">
										{% trans %}Vous cherchez un endroit convivial pour vous détendre, profiter de vos activités favorites ? Ne cherchez pas plus loin, car le COMMERCE a tout ce dont vous avez besoin !{% endtrans %}
									</p>
								</div>
							</div>
						</div>

						<div class="col-lg-5 col-xl-5 offset-xl-3">
							<div class="widget  ">
								<h3 class="widget_title">Adresse</h3>
								<div class="vs-widget-about">
									<p class="contact-info mb-15">
										<i class="fal fa-map-marker-alt"></i>3 Rue du Mal Leclerc, 76440 Forges-les-Eaux</p>
									<p class="contact-info mb-15">
										<i class="fal fa-fax"></i>
										<a href="tel:+65965252561">+33 (0)2 35 90 50 16</a>
									</p>
									<p class="contact-info mb-15">
										<i class="fal fa-fax"></i>
										<a href="" class="mentionLegal">Mention Légal</a>
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center bg-black py-3 link-inherit z-index-common">
				<div class="container">
					<p class="text-white mb-0">Copyright
						{{ 'now' | date('Y') }}</p>
				</div>
				<div class="fluid-container">
					<p class="text-white mb-0">

						{% for locale in locales %}
							{% if locale == 'fr' %}
								<a class="text-decoration-none mx-3" href="{{ path('app_home_page') }}">
									<img src="{{ asset('assets/img/flag/fr.png') }}" alt="{{locale}}" height="20" style="height:20px;"/>
								</a>
							{% else %}
								<a class="text-decoration-none mx-3" href="{{ path('app_home_page', {'_locale': locale} ) }}">
									<img src="{{ asset('assets/img/flag/' ~ locale ~ '.png') }}" alt="{{locale}}" height="20" style="height:20px;"/>
								</a>
							{% endif %}
						{% endfor %}

					</p>
				</div>
			</div>
		</footer>
	</div>

	<a href="#" class="scrollToTop icon-btn bg-theme border-before-theme">
		<i class="far fa-angle-up"></i>
	</a>
{% endblock %}
{% block javascripts %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    var padding = {top:0, right:0, bottom:0, left:0},
        w = 500 - padding.left - padding.right,
        h = 500 - padding.top  - padding.bottom,
        r = Math.min(w, h)/2,
        rotation = 0,
        oldrotation = 0,
        picked = 100000,
        oldpick = [],
        color = d3.scale.category20();//category20c()
       //randomNumbers = getRandomNumbers();

        var data = [  
            {% for jeux in jeux %}               
            {"label":"{{ jeux.Label }}", "value":{{ jeux.Value }}, "question":"{{ jeux.Question }}"},
            {% endfor %}
        ];

        var svg = d3.select('#chart')
            .append("svg")
            .data([data])
            .attr("width",  w + padding.left + padding.right)
            .attr("height", h + padding.top + padding.bottom);

        var container = svg.append("g")
            .attr("class", "chartholder")
            .attr("transform", "translate(" + (w/2 + padding.left) + "," + (h/2 + padding.top) + ")");

        var vis = container
            .append("g");
            
        var pie = d3.layout.pie().sort(null).value(function(d){return 1;});

        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);

        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("g")
            .attr("class", "slice");
            

        arcs.append("path")
            .attr("fill", function(d, i){ return color(i); })
            .attr("d", function (d) { return arc(d); });

        // add the text
        arcs.append("text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                d.angle = (d.startAngle + d.endAngle)/2;
                return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius -10) +")";
            })
            .attr("text-anchor", "end")
            .text( function(d, i) {
                return data[i].label;
            });

            container.on("click", spin);
            


        function spin(d){
            
            container.on("click", null);

            //all slices have been seen, all done
            // console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
            if(oldpick.length == data.length){
                //console.log("done");
                container.on("click", null);
                return;
            }

            var  ps       = 360/data.length,
                 pieslice = Math.round(1440/data.length),
                 rng      = Math.floor((Math.random() * 1440) + 360);
                
            rotation = (Math.round(rng / ps) * ps);
            
            picked = Math.round(data.length - (rotation % 360)/ps);
            picked = picked >= data.length ? (picked % data.length) : picked;


            if(oldpick.indexOf(picked) !== -1){
                d3.select(this).call(spin);
                return;
            } else {
                oldpick.push(picked);
            }

            rotation += 90 - Math.round(ps/2);
            
          // On fait tourner la roue
            vis.transition()
                .duration(6000)
                .attrTween("transform", rotTween)
                // Actions à lancer à l'arrêt de la roue
                .each("end", function(){
                    oldrotation = rotation;
                
                    // Vérifiez si l'utilisateur a déjà cliqué aujourd'hui en utilisant un cookie ou un autre mécanisme de stockage local
                    var dernierClic = new Date(localStorage.getItem('dernierClic'));
                    var aujourdHui = new Date();
                    aujourdHui.setHours(0, 0, 0, 0); // Réglez la date d'aujourd'hui à minuit

                    if (dernierClic < aujourdHui) {
                        container.on("click", spin);
                    } else {
                        // je vide le contenu de la div question
                        document.getElementById("question").innerHTML = "";

                        
                        var message = document.createElement("p");
                        message.innerHTML = "Vous avez déjà joué aujourd'hui";
                        document.getElementById("question").appendChild(message);
                        
                    }


                    // je vais céer une variable pour stocker la valeur de la case gagnante
                    var valeurCaseGagnante = data[picked].value;
                    // si la valeur de la case gagnante est égale à 1 j'affiche un formulaire avec la nom, prénom et numéro de téléphone
                    if(valeurCaseGagnante == 1){
                        if (dernierClic < aujourdHui) {
                            // je vais créer un formulaire
                            var form = document.createElement("form");
                            form.setAttribute("method", "post");
                            form.setAttribute("class", "appointment-form1 px-10 py-10 px-sm-30 py-sm-30 px-xl-80 py-xl-80 bg-white");
                            form.setAttribute("action", "{{ path('app_jeux') }}");

                            // je vais créer un input pour le nom
                            var inputNom = document.createElement("input");
                            inputNom.setAttribute("type", "text");
                            inputNom.setAttribute("class", "form-control");
                            inputNom.setAttribute("placeholder", "Entré votre nom");
                            inputNom.setAttribute("name", "nom");

                            // je vais créer un input pour le prénom
                            var inputPrenom = document.createElement("input");
                            inputPrenom.setAttribute("type", "text");
                            inputPrenom.setAttribute("class", "form-control");
                            inputPrenom.setAttribute("placeholder", "Entré votre prénom");
                            inputPrenom.setAttribute("name", "prenom");

                            // je vais créer un input pour le numéro de téléphone
                            var inputTelephone = document.createElement("input");
                            inputTelephone.setAttribute("type", "text");
                            inputTelephone.setAttribute("class", "form-control");
                            inputTelephone.setAttribute("placeholder", "Entré votre numéro de téléphone");
                            inputTelephone.setAttribute("name", "telephone");

                            // je vais créer un input pour le submit
                            var inputSubmit = document.createElement("button");
                            inputSubmit.setAttribute("class", "vs-btn mask-style1 rounded-0 w-100");
                            inputSubmit.setAttribute("type", "submit");
                            inputSubmit.innerHTML = "Envoyer";

                            // je vais créer un input pour le token
                            var inputToken = document.createElement("input");
                            inputToken.setAttribute("type", "hidden");
                            inputToken.setAttribute("name", "token");
                            inputToken.setAttribute("value", "{{ csrf_token('jeux') }}");

                            // j'enregistre les éléments dans le formulaire
                            form.appendChild(inputNom);
                            form.appendChild(inputPrenom);
                            form.appendChild(inputTelephone);
                            form.appendChild(inputSubmit);
                            form.appendChild(inputToken);

                            // j'affiche le formulaire
                            document.getElementById("question").appendChild(form);
                        }

                    }else{
                        if (dernierClic < aujourdHui) {
                            // je vide le contenu de la div question
                            document.getElementById("question").innerHTML = "";

                            // je vais créer un paragraphe pour afficher la question
                            var question = document.createElement("p");
                            question.innerHTML = data[picked].question;
                            document.getElementById("question").appendChild(question);
                        }
                        // Enregistrez la date du dernier clic
                        localStorage.setItem('dernierClic', aujourdHui);
                    }


              
                    
                });
        }

        //make arrow
        svg.append("g")
            .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h/2)+padding.top) + ")")
            .append("path")
            .attr("d", "M-" + (r*.15) + ",0L0," + (r*.05) + "L0,-" + (r*.05) + "Z")
            .style({"fill":"red"});

        //Cercle centre "Lancer"
        container.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 70) // Rayon du cercle
            .style({"fill":"white","cursor":"pointer","background": "#CCEAF1"});

        //Texte bouton "Lancer"
        container.append("text")
            .attr("x", 0)
            .attr("y", 8)
            .attr("text-anchor", "middle")
            .text("Lancer")
            .style({"font-weight":"bold", "font-size":"22px"});
        
        
        function rotTween(to) {
          var i = d3.interpolate(oldrotation % 360, rotation);
          return function(t) {
            return "rotate(" + i(t) + ")";
          };
        }
        
        
        function getRandomNumbers(){
            var array = new Uint16Array(1000);
            var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);

            if(window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function"){
                window.crypto.getRandomValues(array);
                console.log("works");
            } else {
                //no support for crypto, get crappy random numbers
                for(var i=0; i < 1000; i++){
                    array[i] = Math.floor(Math.random() * 100000) + 1;
                }
            }

            return array;
        }
</script>
{% endblock %}

{% block stylesheets %}
<style>

text{
  font-family:  Arial, sans-serif;
  font-size:12px;
  font-weight: bold;
  color: #fff !important;
  pointer-events:none;
}

#chart{
  position:relative;
  width:500px;
  height:500px;
  top:0; 
  left:0;
  z-index: 1;
}

#chart::before
{
  content: "";
  display: block;
  position: absolute;
  width:102%;
  height:102%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  z-index: -1;
  /*background: transparent url("https://cdn.listagram.com/static/api/images/default/wheel_shadow_inside.png") no-repeat -40px -40px;
  background-size: cover;*/
}

#question{
 /* position: absolute;
  width:300px;
  height:500px;
  top:0;
  left:530px;*/
}
#question p{
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top:50%;
  -webkit-transform:translate(0,-50%);
  transform:translate(0,-50%);
}
</style>
{% endblock %}