{% extends 'base.html.twig' %}

{% block title %}Hello TalentController!
{% endblock %}

{% block body %}
	<div class="py-1 py-sm-2 py-lg-1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-3">
					<div class="logo">
						<a href="{{ path('app_home_page') }}">
							<img src="{{ asset('assets/img/logo-noir.png') }}" alt="{% trans %}Bar tabac{% endtrans %}">
						</a>
					</div>
				</div>
				<div class="col-7 col-md-9 text-right">
					<nav class="main-menu menu-sticky1 onepage-nav d-none d-lg-block link-inherit mobile-menu-active">
						<ul>
							<li><a href="{{path('app_home_page')}}">{% trans %}Accueil{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#about">{% trans %}Le bar{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#promo">{% trans %}nos offres{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#avisclt">{% trans %}Temoiniages{% endtrans %}</a></li>
							<li><a href="{{ path('app_home_page') }}#contact">{% trans %}Contact{% endtrans %}</a></li>
							<li><a href="{{path('app_jeux')}}">{% trans %}Gagnez une Boissons{% endtrans %}</a></li>
							<li><a href="{{path('app_talent')}}">A la recherche de nouveau talent</a></li>
						</ul>
					</nav>
					<button class="vs-menu-toggle text-theme border-theme d-inline-block d-lg-none">
						<i class="far fa-bars"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="vs-menu-wrapper">
		<div class="vs-menu-area">
			<button class="vs-menu-toggle text-theme">
				<i class="fal fa-times"></i>
			</button>
			<div class="mobile-logo">
				<a href="{{ path('app_home_page') }}"><img src="{{ asset('assets/img/logo-blanc.png') }}" alt="{% trans %}Café{% endtrans %}"></a>
			</div>
			<div class="vs-mobile-menu link-inherit"></div>
		</div>
	</div>
	<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit  mb-30" data-vs-img="assets/img/breadcumb/talent.jpg" data-overlay="black" data-opacity="6">
		<div class="container z-index-common">
			<div class="breadcumb-content text-center pt-65 pt-lg-140 pb-95 pb-lg-175">
				<h1 class="breadcumb-title sec-title1 text-white my-0">Partenariat</h1>
				<ul class="breadcumb-menu-style1 bg-white">
					<li>
						<a href="{{ path('app_home_page') }}">
							<i class="fal fa-home text-theme"></i>Accueil</a>
					</li>
					<li class="active">Partenariat</li>
				</ul>
			</div>
		</div>
	</div>
	<section class="vs-about-wrapper vs-about-layout4 py-lg-150 pt-60 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="about-content text-center">
						<p class="h3 text-theme text-font3 mb-10">Mettez en Lumière Votre Talent au Bar Tabac</p>
						<h2 class="sec-title1">
							Le Commerce</h2>
						<p class="about-text">
							{% trans %}
							Vous avez un talent exceptionnel et vous rêvez de le partager dans un lieu convivial et accueillant ? Le Bar Tabac Le Commerce ouvre ses portes aux artistes locaux, offrant une scène dynamique pour mettre en avant vos performances uniques.
							{% endtrans %}
							{% trans %}
							Envoyez-nous une brève présentation de votre talent, accompagnée d'un échantillon de votre travail. Que vous soyez musicien(ne), humoriste, poète, ou artiste polyvalent, nous sommes ouverts à toutes les formes d'expression artistique.
							{% endtrans %}
						</p>
						<div class="vs-carousel vs-3dcarousel pt-lg-15 pb-30 pb-lg-40" data-slidetoshow="1" data-variablewidth="true" data-loop="false">
							
							{% for image in images %}
								{% for img in image.Photos %}
								<div>
									<img src="{{ vich_uploader_asset(img, 'imageFile') | imagine_filter('my_thumb') }}" alt="About Image">
								</div>
								{% endfor %}
							{% endfor %}
							
						</div>
                        <p class="about-text">
                            {% trans %}
                                Au cœur de notre communauté, le bar tabac n'est pas simplement un lieu de rencontre convivial, mais aussi un acteur actif dans le tissu social et économique de notre quartier. Sa contribution régulière au sponsoring local témoigne de son engagement envers le développement et le dynamisme de notre environnement.
                            {% endtrans %}
                        </p>
						<div class="vs-service-wrapper vs-service-layout2 pt-10 pt-lg-60">
							<div class="row arrow-has-margin vs-carousel pb-lg-50" data-slidetoshow="3" data-dots="true" data-xldots="true" data-mldots="true" data-lgdots="true" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
								<div class="col-xl-4">
									<div class="vs-service vs-box1 px-20 px-xl-40 pt-30 pt-xl-60 pb-20 pb-xl-50 mb-30">
										<span class="service-icon text-theme d-block mb-30">
											<i class="flaticon-fork icon-3x"></i>
										</span>
										<h3 class="service-title link-inherit mb-10">Ambiance Chaleureuse
										</h3>
										<p class="service-text mb-0">Notre établissement est réputé pour son atmosphère conviviale et détendue, créant le cadre idéal pour des performances mémorables.</p>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vs-service vs-box1 px-20 px-xl-40 pt-30 pt-xl-60 pb-20 pb-xl-50 mb-30">
										<span class="service-icon text-theme d-block mb-30">
											<i class="flaticon-serving-dish icon-3x"></i>
										</span>
										<h3 class="service-title link-inherit mb-10">Public Enthousiaste
										</h3>
										<p class="service-text mb-0">Notre clientèle diversifiée est toujours avide de découvrir de nouveaux talents. Vous aurez l'opportunité de captiver un auditoire attentif et réactif.</p>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vs-service vs-box1 px-20 px-xl-40 pt-30 pt-xl-60 pb-20 pb-xl-50 mb-30">
										<span class="service-icon text-theme d-block mb-30">
											<i class="flaticon-flag icon-3x"></i>
										</span>
										<h3 class="service-title link-inherit mb-10">Promotion en Ligne
										</h3>
										<p class="service-text mb-0">Votre prestation sera mise en avant sur notre site internet et nos réseaux sociaux, offrant une visibilité accrue à votre talent.</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="vs-testimonial-wrapper vs-testimonial-layout2 background-image bg-auto bg-fixed mb-70 mb-lg-80" data-overlay="dark" data-opacity="8" data-vs-img="assets/img/testimonial/testimonial-bg-2-1.jpg" id="testimonial">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9">
					<div class="testimonial-text-area text-center py-lg-150 pt-60 pb-80 vs-carousel" id="testimonial-text-slide" data-asnavfor="#testimonial-name-slide, #testimonial-avater-slide" data-slidetoshow="1" data-fade='true'>
						{{ form_start(form, {'attr' : {'class':'appointment-form1 px-10 py-10 px-sm-30 py-sm-30 px-xl-80 py-xl-80 bg-white'} }) }}
						<div class="row">
							<div class="col-6">
								<div class="form-group mb-20">
									{{ form_widget(form.Nom)}}
									<i class="fal fa-user"></i>
								</div>
								<div class="form-group mb-20">
									{{ form_widget(form.Email)}}
									<i class="fal fa-envelope"></i>
								</div>
								<div class="form-group mb-20">
									{{ form_widget(form.Telephone)}}
									<i class="fal fa-phone"></i>
								</div>
							</div>
							<div class="col-6">

								<div class="form-group mb-20">
									{{ form_widget(form.Message, {'attr' : {'rows':'3'}})}}
									<i class="fal fa-pencil"></i>
								</div>
							</div>

						</div>
						<div class="form-btn">
							<button type="submit" class="vs-btn mask-style1 rounded-0 w-100">Envoyer</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>


	</section>
	<div class="background-image" data-vs-img="assets/img/footer/footer-bg-2-1.jpg" data-overlay="black" data-opacity="8">
		<footer class="footer-wrapper footer-layout1 dark-footer ">
			<div class="footer-widget-wrapper border-top footer-widget-layout1 pt-40 pt-lg-195 pt-xl-210 pb-10 pb-lg-70 z-index-common">
				<div class="container ">
					<div class="row">
						<div class="col-lg-6 col-xl-4">
							<div class="widget pt-0">
								<div class="vs-widget-about">
									<div class="widget-about-logo mb-20 mb-lg-25">
										<a href="{{ path('app_home_page') }}">
											<img src="{{ asset('assets/img/logo-blanc.png') }}" alt="logo">
										</a>
									</div>
									<p class="widget-about-text mb-20">
										{% trans %}Vous cherchez un endroit convivial pour vous détendre, profiter de vos activités favorites ? Ne cherchez pas plus loin, car le COMMERCE a tout ce dont vous avez besoin !{% endtrans %}
									</p>
								</div>
							</div>
						</div>

						<div class="col-lg-5 col-xl-5 offset-xl-3">
							<div class="widget  ">
								<h3 class="widget_title">Adresse</h3>
								<div class="vs-widget-about">
									<p class="contact-info mb-15">
										<i class="fal fa-map-marker-alt"></i>3 Rue du Mal Leclerc, 76440 Forges-les-Eaux</p>
									<p class="contact-info mb-15">
										<i class="fal fa-fax"></i>
										<a href="tel:+65965252561">+33 (0)2 35 90 50 16</a>
									</p>
									<p class="contact-info mb-15">
										<i class="fal fa-fax"></i>
										<a href="" class="mentionLegal">Mention Légal</a>
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center bg-black py-3 link-inherit z-index-common">
				<div class="container">
					<p class="text-white mb-0">Copyright
						{{ 'now' | date('Y') }}</p>
				</div>
				<div class="fluid-container">
					<p class="text-white mb-0">

						{% for locale in locales %}
							{% if locale == 'fr' %}
								<a class="text-decoration-none mx-3" href="{{ path('app_home_page') }}">
									<img src="{{ asset('assets/img/flag/fr.png') }}" alt="{{locale}}" height="20" style="height:20px;"/>
								</a>
							{% else %}
								<a class="text-decoration-none mx-3" href="{{ path('app_home_page', {'_locale': locale} ) }}">
									<img src="{{ asset('assets/img/flag/' ~ locale ~ '.png') }}" alt="{{locale}}" height="20" style="height:20px;"/>
								</a>
							{% endif %}
						{% endfor %}

					</p>
				</div>
			</div>
		</footer>
	</div>

	<a href="#" class="scrollToTop icon-btn bg-theme border-before-theme">
		<i class="far fa-angle-up"></i>
	</a>

{% endblock %}
