<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/gh/hpruvot/tarteaucitron@master/tarteaucitron.js"></script>
        <script type="text/javascript">
            if(tarteaucitron) {
                tarteaucitron.init({
                    "tarteaucitronForceCDN": "https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@master",
                    "privacyUrl": "", /* Privacy policy url */

                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tartaucitron", /* Cookie name */

                    "orientation": "bottom", /* Banner position (top - bottom) */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": true, /* Show the cookie list */

                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": false, /* Disable auto consent */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                    "removeCredit": true, /* Remove credit link */
                    "moreInfoLink": false, /* Show more info link */
                    "useExternalCss": false /* If false, the tarteaucitron.css file will be loaded */

                    //"cookieDomain": ".my-multisite-domaine.fr" /* Shared cookie for subdomain website */
                });

                tarteaucitron.user.gtagUa = 'G-QKWQ1PVYMZ';
                // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
                tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
                (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
            }
        </script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block description %}Welcome!{% endblock %}">
        <meta name="keywords" content="{% block kw %}Welcome!{% endblock %}">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300;400;500;700&family=Rufina:wght@400;700&display=swap" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/img/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/img/favicons/manifest.json') }}">
        <meta name="msapplication-TileImage" content="{{ asset('assets/img/favicons/ms-icon-144x144.png') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/flaticon.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/layerslider.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nice-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/theme-color1.css') }}">

        <meta property="og:url"                content="https://lecommercetabac.com" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="{% trans %}Bars tabac à FORGES-LES-EAUX{% endtrans %}" />
        <meta property="og:description"        content="{% trans %}Le service impeccable que nous offrons est au cœur de notre réputation. Notre personnel attentionné et professionnel vous réserve un accueil chaleureux et discret, veillant à ce que votre visite soit exceptionnelle de bout en bout. Chaque sourire, chaque interaction, contribue à faire de votre temps passé dans notre bar une expérience inoubliable.Le service impeccable que nous offrons est au cœur de notre réputation. Notre personnel attentionné et professionnel vous réserve un accueil chaleureux et discret, veillant à ce que votre visite soit exceptionnelle de bout en bout. Chaque sourire, chaque interaction, contribue à faire de votre temps passé dans notre bar une expérience inoubliable.{% endtrans %}" />
        <meta property="og:image"              content="https://lecommercetabac.com/assets/img/hero/Slider-1.png" />
		{% for local in locales %}{% if local == app.request.locale %}<meta http-equiv="content-language" content="{{ local }}-{{ local | upper}} " />{% endif %}
		{% if local != 'fr' %}<link rel="alternate" hreflang="{{ local }}" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': local})) }}" />{% endif %}
		{% endfor %}

    </head>
    <body>

        <!--[if lte IE 9]>
    	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% block body %}{% endblock %}
        
        <script src="{{ asset('assets/js/vendor/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery-migrate-3.0.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/greensock.min.js') }}"></script>
        <script src="{{ asset('assets/js/layerslider.kreaturamedia.jquery.js') }}"></script>
        <script src="{{ asset('assets/js/layerslider.transitions.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.datetimepicker.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('assets/js/vscustom-carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/vsmenu.min.js') }}"></script>
        <script src="{{ asset('assets/js/ajax-mail.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        
        <!-- Google tag (gtag.js) -->
        {#
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKWQ1PVYMZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-QKWQ1PVYMZ');
        </script>
        #}
    </body>
</html>
